{% extends "base.html" %} {% block content %}

<div class="w3-container w3-third"></div>
<div class="w3-container w3-third">
  <div class="w3-card-4 ">
    <div class="w3-cell-middle">

      <div class="w3-panel  w3-theme">
        <h1 class="w3-opacity w3-myfont w3-center ">410 Gone</h1>
      </div>
      <div class="w3-container">
        <p class="w3-myfont">Did you know that there the “404 Not Found” has a brother named “410 Gone”? Few people
          actually implement that, but
          the idea is that resources that previously existed and got deleted answer with 410 instead of 404.</p>
      </div>
      <div class="w3-container">
        <p class="w3-myfont">What you were looking for is just not there,go somewhere nice.</p>
      </div>
      <p><a class="w3-button w3-block w3-section w3-theme w3-ripple w3-padding" href="{{ url_for('index') }}">HOME</a>
      </p>

    </div>
  </div>
</div>

{% endblock %}