{% extends "base.html" %} {% block content %}
<div class="w3-container">
  <div class="w3-padding-16">
    <p>Explain</p>
  </div>

</div>
<div class="w3-container">
  <form class="w3-container" action="{{ url_for('audio_capturing') }}" method="post" id="audio_capturing_form">



    <select class="w3-select" name="album" required>
      <option value="" disabled selected>Choose the album to label</option>
      {% for album in albums %}
      <option value="{{album}}">{{album}}</option>"
      {% endfor %}
    </select>
    <button type="submit" class="w3-button w3-block w3-section w3-theme w3-ripple w3-padding" name="load">LOAD</button>
  </form>
</div>
<div class="w3-container w3-center">
  <div class="w3-row">

    <div id="nav">
      <div class="w3-dropdown-click w3-left">
        <button onclick="dropDownFunction()" class="fas fa-link w3-btn w3-lef w3-xlarge"></button>
        <br>
        <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
          <a href="{{ url_for('audio_capturing') }}" class="w3-bar-item w3-button">AC-V 0</a>
          <a href="{{ url_for('audio_capturing_V1') }}" class="w3-bar-item w3-button">AC-V 1</a>
          <a href="{{ url_for('audio_capturing_V2') }}" class="w3-bar-item w3-button">AC-V 2</a>
        </div>
      </div>
      <button class="far fa-stop-circle w3-btn w3-left w3-xlarge" onClick="myCounterStop()"></button>
      <button class="prev fa fa-arrow-left w3-xxxlarge"></button>
      <button class="fas fa-microphone-slash w3-btn  w3-round-xlarge w3-center w3-xxxlarge  w3-hover-light-blue"
        id="stop-btn" type="button" disabled></button>
      <button class="next fa fa-arrow-right w3-xxxlarge w3-red"></button>
      <button class="fas fa-microphone w3-btn w3-round-xlarge w3-center w3-xxxlarge w3-hover-red" id="start-btn"
        type="button" onclick="myTimer = setInterval(myCounter, 1)"></button>

      <button class="fas fa-volume-up w3-button w3-xlarge w3-right" onclick="openRightMenu()"></button>
    </div>
  </div>
  <div id="header" class="w3-card ">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
      <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
      <h4>Stored Recordings</h4>
      <ul id="recordingslist"></ul>
    </div>




  </div>
  <div class="album"></div>
</div>
</div>
<div style="width:100%;" class="w3-container w3-center">
  <div id="frame" class="w3-card">
    <div class="photo-wrapper w3-border w3-padding">
      <img class="photo w3-animate-right" />
    </div>
    <div class="photo-caption">
      <div class="title" id="title"></div>
      <div class="data"></div>
    </div>
  </div>
</div>
<div style="width:100%;" class="w3-container w3-center">
  <div style="width:100%;" class="gallery w3-card w3-bar">
    <div style="width:100%;" id="slider" class="slider w3-row">
      <div style="width:100%;" id="thumbnails"></div>
      <span class="prev"></span>
      <span class="next"></span>
    </div>
  </div>
  <div id="themes" class="themes">
    <span class="active" data-theme="original">Original Style</span> |
    <span data-theme="another">Another Style</span>
    <!--Sound Recorder-->

  </div>

</div>
<div class="w3-container"></div>

</div>
<script>
  var c = 0;
  function myCounter() {
    c++;
  }
  function myCounterStop() {
    clearInterval(myTimer)
    console.log(c);
  }
  function dropDownFunction() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
  function openRightMenu() {
    document.getElementById("rightMenu").style.display = "block";
  }

  function closeRightMenu() {
    document.getElementById("rightMenu").style.display = "none";
  }
</script>
{% endblock %}