<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
  <!--<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-orange.css">-->
  <!-- Font -->
  <style>
    .w3-myfont {
      font-family: "Comic Sans MS", cursive, sans-serif;
    }
  </style>

  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

  <!-- Title - Loaded from Flask if title is present-->
  {% if title %}
  <title>{{ title }} Non-written languages preservation application</title>
  {% else %}
  <title>Non-written languages preservation application</title>
  {% endif %}

  <!-- jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
    window.jQuery ||
      document.write(
        '<script src="{{ url_for("static", filename="js/jquery-1.10.2.min.js") }}"><\/script>'
      );
  </script>

  <script type="text/javascript">
    // Preload first photo
    image1 = new Image(574, 434);
    image1.src = "{{ url_for('static', filename='test_images/image1.jpg') }}";
  </script>
  <script src="{{ url_for('static', filename='js/gallery.js') }}" type="text/javascript"></script>

  <!--Sound js-->
  <script src="{{ url_for('static', filename='js/audio.js') }}" type="text/javascript"></script>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

  <!--Web sockets-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

  <!-- Audio labeler -->

  <script type="text/javascript" src="/static/js/lib/materialize.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/wavesurfer.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/wavesurfer.spectrogram.min.js"></script>
  <script type="text/javascript" src="/static/js/colormap/colormap.min.js"></script>

  <script type="text/javascript" src="/static/js/src/message.js"></script>
  <script type="text/javascript" src="/static/js/src/wavesurfer.regions.js"></script>
  <script type="text/javascript" src="/static/js/src/wavesurfer.drawer.extended.js"></script>
  <script type="text/javascript" src="/static/js/src/wavesurfer.labels.js"></script>
  <script type="text/javascript" src="/static/js/src/hidden_image.js"></script>
  <script type="text/javascript" src="/static/js/src/components.js"></script>
  <script type="text/javascript" src="/static/js/src/annotation_stages.js"></script>
  <script type="text/javascript" src="/static/js/src/main.js" defer></script>


  <!--Javascipt variables-->
  {% if current_user.is_authenticated %}
  <script>
    var username = '{{session.username }}';
  </script>
  {% endif %}
</head>

<body>
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:block;width : 3%;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" onclick="w3_close()"><i class="fas fa-arrow-right"></i></button>
    <a id="home" href="{{ url_for('index') }}" class="w3-bar-item w3-button"><i id="home_icon"
        class="fa fa-home"></i></a>
    {% if current_user.is_authenticated %}
    <a class="w3-bar-item w3-button" href="{{ url_for('logout') }}"><i
        class="fas fa-sign-out-alt fa-rotate-180"></i></a>
    {% else %}
    <a class="w3-bar-item w3-button" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i></a>
    {% endif %}
    <a href="{{ url_for('audio_capturing') }}" class="w3-bar-item w3-button"><i class=" fas fa-microphone"></i></a>
    <a id="home" href="{{ url_for('register') }}" class="w3-bar-item w3-button"><i class="fas fa-id-card"></i></a>
    <a id="home" href="{{ url_for('audio_labeling') }}" class="w3-bar-item w3-button"><i class="fas fa-tags"></i></a>
    <a href="{{ url_for('upload_page') }}" class="w3-bar-item w3-button"><i class="fas fa-upload"></i></a>
    <a href="{{ url_for('dynamic_time_warping') }}" class="w3-bar-item w3-button"><i class="far fa-clock"></i></a>
  </div>

  <div id="main" style="margin-left:3%">


    <div class="w3-row w3-teal">
      <div class="w3-col w3-container" style="width:50px">
        <button id="openNav" class="w3-button  w3-xlarge" onclick="w3_open()" style="width:50px">&#9776;</button>
      </div>
      <div class="w3-rest w3-container">
        <h1>Non-written languages preservation application</h1>
      </div>
    </div>


    <div class="w3-bar w3-gray">
      <!-- Home Button-->

      <a class="w3-bar-item w3-button" href="{{ url_for('index') }}">NWLPA</a>

      {% if current_user.is_authenticated %}
      <a href="#" class="w3-bar-item w3-button w3-theme w3-left"><label class="w3-myfont" style="top:10px;"
          id="username">{{session.username }}</label><i class="fa fa-home"></i></a>
      {% endif %}

    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i = 0; i < messages.length; i++) {
        alert(messages[i]);
      }
    </script>
    {% endif %}
    {% endwith %}
    <div id="content" class="w3-display-container">

      {% block content %}{% endblock %}
    </div>
    <!--Manage poppers-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <!-- JS to open and close sidebar with overlay effect -->
    <script>
      function w3_open() {
        document.getElementById("main").style.marginLeft = "10%";
        document.getElementById("mySidebar").style.width = "10%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("mySidebar").style.className = "w3-sidebar w3-bar-block w3-card w3-animate-left";
        document.getElementById('home').innerHTML = "Home ";
        document.getElementById('home_icon').className = "";
        //document.getElementById("openNav").style.display = 'none';
      }
      function w3_close() {
        document.getElementById("main").style.marginLeft = "3%";
        document.getElementById("mySidebar").style.width = "3%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("mySidebar").style.className = "w3-sidebar w3-bar-block w3-card w3-animate-right";
        document.getElementById('home').innerHTML = "<i id=\"home_icon\"class=\"fa fa-home\">";
        document.getElementById('home_icon').className = "fa fa-home";
        document.getElementById('myButton').className = "newclass1";
        //document.getElementById("openNav").style.display = 'none';
      }
    </script>

</body>

</html>