{% extends "base.html" %} {% block content %}
<div class="w3-container">
  <div class="w3-padding-16">
    <h1>Non-written languages preservation application</h1>
    <p>Explain</p>
  </div>
</div>
<div class="w3-container"></div>
<div class="w3-container w3-center">
  <div id="header" class="w3-card ">
    <div id="nav">
      <button class="prev fa fa-arrow-left w3-xxxlarge"></button>
      <button class="next fa fa-arrow-right w3-xxxlarge"></button>
    </div>
    <div class="album"></div>
  </div>
</div>
<div class="w3-container w3-center">
  <div id="frame" class="w3-card">
    <div class="photo-wrapper w3-border w3-padding">
      <img class="photo w3-animate-right" />
    </div>
    <div class="photo-caption">
      <div class="title"></div>
      <div class="data"></div>
    </div>
  </div>
</div>
<div class="w3-container w3-center">
  <div class="gallery w3-card w3-bar">
    <div id="slider" class="slider w3-row">
      <div id="thumbnails"></div>
      <span class="prev"></span>
      <span class="next"></span>
    </div>
  </div>
  <div id="themes" class="themes">
    <span class="active" data-theme="original">Original Style</span> |
    <span data-theme="another">Another Style</span>
    <!--Sound Recorder-->

  </div>
  <div class="w3-container w3-center record_buttons"></div>
  <button class="fas fa-microphone w3-btn w3-round-xlarge w3-center w3-xxxlarge  w3-hover-light-blue" id="start-btn"
    type="button"></button>
  <button class="fas fa-microphone-slash w3-btn  w3-round-xlarge w3-center w3-xxxlarge  w3-hover-light-blue"
    id="stop-btn" type="button" disabled></button>

  <h2>Stored Recordings</h2>
  <ul id="recordingslist"></ul>
</div>
</div>
<div class="w3-container"></div>

</div>
{% endblock %}